<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:macro name="base">
        <link name="base_link"/>
    </xacro:macro>
    

    <xacro:macro name="solid_cylinder_link" params="prefix rho r l *origin *material">
        <link name="${prefix}_link">
            <xacro:solid_cylinder_inertial rho="${rho}" r="${r}" l="${l}"/>
            <visual>
                <geometry>
                    <cylinder length="${l}" radius="${r}"/>
                </geometry>
                <xacro:insert_block name="origin"/>
                <xacro:insert_block name="material"/>
            </visual>
            <collision>
                <geometry>
                    <cylinder length="${l}" radius="${r}"/>
                </geometry>
                <xacro:insert_block name="origin"/>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="solid_cuboid_link" params="prefix rho w d h *material">
        <link name="${prefix}_link">
            <xacro:solid_cuboid_inertial rho="${rho}" w="${w}" d="${d}" h="${h}"/>
            <visual>
                <geometry>
                    <box size="${w} ${d} ${h}"/>
                </geometry>
                <xacro:insert_block name="material"/>
            </visual>
            <collision>
                <geometry>
                    <box size="${w} ${d} ${h}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>


</robot>